{% extends "::base.html.twig" %}

{% block title %}ArticleBundle:TypeArticle:supprimerTypeArticle{% endblock %}

{% block body %}
<h1>Welcome to the TypeArticle:supprimerTypeArticle page</h1>
{% endblock %}
