<html>
<head></head>
<body>
<div id="div_histogram"></div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    {{ gc_language('fr') }}

    {{ gc_draw(histogram, 'div_histogram') }}
</script>
</body>
</html>