
{{ form_start(form3) }}
<div class="resumeadd-form">
 <div class="row">

  <div class="col-lg-12">
   <span class="pf-title">Compétences</span>
   <div class="pf-field">
       {{ form_widget(form3.tags) }}
   </div>
  </div>



  <div class="col-lg-12">
   <button type="submit">Enregistrer</button>
  </div>
 </div>
</div>
{{ form_end(form3) }}




